.container{
    border-radius: 50px;
    background-color: rgb(255, 255, 0);
    margin: auto;
    width: 460px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 60px;
    color: orange;
}
img{
    width: 100%;
}
a{
    margin: auto;
    width: 100px;
    display: block;
    text-decoration: none;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 40px;
    background-color: rgb(255, 72, 0);
    color: rgb(149, 255, 0);
    border-radius: 10px;
    padding: 10px 40px;
    font-weight: bold;
    
}