.content{
    width: 460px;
    margin: auto;
    text-align: center;
}
.title{
    width: 460px;
    padding: 20px 0px;
    background-color: orangered;
    color: yellow;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}
.container{
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    text-align: center;
}
.squir{
    color: rgb(255, 247, 0);
    width: 150px;
    height: 125px;
    background-color:orangered;
    font-size: 100px;
    text-align: center;
    font-family: 'Dancing Script', cursive;}
.stylexo{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.XS{
    font-family: 'Dancing Script', cursive;
    color: blue;
    font-size: 20px;
    font-weight: bold;
}
.OS{
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 187, 0);
    font-size: 20px;
    font-weight: bold;
}
#replay{
    background-color: green;
    color: yellow;
    font-size: 20px;
    padding:10px 30px ;
    border-radius: 10px;
}
#restart{
    background-color: rgb(255, 47, 47);
    color: rgb(195, 255, 0);
    font-size: 20px;
    padding:10px 30px ;
    border-radius: 10px;
}